In [5]:
import pandas as pd
import sqlite3
import sys

In [6]:
hyp = "/mnt/disk1/Github/total.db"

In [7]:
def query(db, sql, param = ()):
    res = []
    with sqlite3.connect(db) as con:
        cur = con.cursor()
        try:
            cur.execute(sql, param)
            res = cur.fetchall()
        except:
            print('en feil oppstod:', str(sys.exc_info()[1]) )
    return res

def pdquery(db, sql, params = ()):
    res = pd.DataFrame()
    with sqlite3.connect(db) as con:
        try:
            res = pd.read_sql_query(sql, con, params = params)
        except:
            print('en feil oppstod:', str(sys.exc_info()[1]) )
    return res

In [8]:
query(hyp, "create table hyphendata (first varchar, second varchar, word varchar, freq int)")

en feil oppstod: table hyphendata already exists

[]

In [9]:
pdquery(hyp, "select * from sqlite_master").style

In [11]:
query(hyp, "insert into hyphendata select first, second, first || second, count(*) from hyph group by first, second")

[]

In [13]:
query(hyp, "select rowid from hyphendata order by rowid desc limit 1")

[(223039157,)]

In [14]:
query(hyp, "create index _wf_ on hyphendata (word, freq)")

[]